<main class="password-change-page">
  <nz-modal
    [nzVisible]="true"
    [nzTitle]="'auth.passwordChange.title' | translate"
    [nzClosable]="false"
    [nzMaskClosable]="false"
    [nzKeyboard]="false"
    [nzFooter]="passwordChangeFooter"
  >
    <ng-container *nzModalContent>
      <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="new-password">{{
            'auth.passwordChange.newPassword' | translate
          }}</nz-form-label>
          <nz-form-control>
            <nz-input-password>
              <input
                nz-input
                id="new-password"
                formControlName="newPassword"
                autocomplete="new-password"
                maxlength="256"
              />
            </nz-input-password>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="confirm-password">
            {{ 'auth.passwordChange.confirmPassword' | translate }}
          </nz-form-label>
          <nz-form-control>
            <nz-input-password>
              <input
                nz-input
                id="confirm-password"
                formControlName="confirmPassword"
                autocomplete="new-password"
                maxlength="256"
              />
            </nz-input-password>
          </nz-form-control>
        </nz-form-item>
        <ul
          class="password-requirements"
          [attr.aria-label]="'validation.password.requirements' | translate"
        >
          @for (requirement of passwordRequirements(); track requirement.id) {
            <li
              class="password-requirement"
              [class.is-met]="requirement.isMet"
              [class.is-unmet]="!requirement.isMet"
            >
              <span
                nz-icon
                [nzType]="requirement.isMet ? 'check-circle' : 'close-circle'"
                [attr.aria-label]="
                  (requirement.isMet ? 'validation.met' : 'validation.unmet') | translate
                "
              ></span>
              <span>{{ requirement.labelKey | translate }}</span>
            </li>
          }
        </ul>
        @if (error()) {
          <nz-alert nzType="error" [nzMessage]="error()! | translate"></nz-alert>
        }
      </form>
    </ng-container>
  </nz-modal>

  <ng-template #passwordChangeFooter>
    <button
      nz-button
      nzType="primary"
      type="button"
      [nzLoading]="isSubmitting()"
      [disabled]="!canSubmit()"
      (click)="submit()"
    >
      {{ 'auth.passwordChange.submit' | translate }}
    </button>
  </ng-template>
</main>
